<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>adhdApp</title>
</head>
<body>
  <%- include('partials/_header') %>
  <h1 class="heading" style="margin-left: 1em;">Login</h1>

  <form method="POST" action="/login">
    
    <input name="email" placeholder="Enter Email" style="width: 300px; margin-left: 2em">
    <br/>

    <div style="margin: 1em;"></div>
   
    <div></div>
    <input name="password" type="password" placeholder="Password" style="width: 300px; margin-left: 2em">
    <br/>
    <button type="submit" class="btn btn-primary" style="margin-left: 2em; margin-top: 1em;">Login</button>
  </form>
  <div style="margin-left: 2em; margin-top: 1em; width: 40%;" class="alert alert-warning" role="alert">
    Don't have an account yet? <a href="/register" class="alert-link">Register here</a>. to start working with your adhd.
  </div>
</body>